doctype html
html(lang='en')
  head
    title Jade
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/vuetify@1.3.7/dist/vuetify.min.css")
  body
    div#app
      v-container
        v-layout.wrap.row
          v-flex.xs12
            v-app#inspire(v-if="cryptos !== null")
              v-data-table.elevation-1(:headers='headers', :items='cryptos', hide-actions)
                template(slot='items', slot-scope='props')
                  td {{ props.item.row }}
                  td {{ props.item.name }}
                  td {{ props.item.symbol }}
                  td ${{ props.item.market_cap.toLocaleString() }}

    script(src="https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js")
    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
    script(src="https://cdn.jsdelivr.net/npm/vuetify@1.3.7/dist/vuetify.min.js")
    script(src='/javascripts/axios.min.js')
    script.

      new Vue({
          el: '#app',
          data () {
              return {
                cryptos: null,
                headers: [
                    { text: 'Row', align: 'left', value: 'row' },
                    { text: 'Coin Name', value: 'name' },
                    { text: 'Coin Symbol', value: 'symbol' },
                    { text: 'Market Cap', value: 'market_cap' }
                ] 
              }
          },
          mounted() {
            axios.get('http://88.198.229.251:6969/cryptos')
              .then(res => {
                this.cryptos = res.data.cryptos
              })
          }
      })